@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic';
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

header {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 10;
  position: fixed;
}

header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

header .container .header-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 0 0;
}

header .container .header-left img {
  margin: 20px 20px 0 20px;
}

header .container .header-left ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@media (max-width: 670px) {
  header .container .header-left ul {
    display: none;
  }
}

header .container .header-left ul a {
  text-decoration: none;
  height: 80px;
}

header .container .header-left ul a:hover {
  color: inherit;
}

header .container .header-left ul a li {
  font-size: .9rem;
  line-height: 80px;
  padding: 0 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

header .container .header-left ul a li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

header .container .header-right {
  margin: 0 0 0 auto;
}

@media (max-width: 1000px) {
  header .container .header-right {
    display: none;
  }
}

header .container .header-right a {
  color: #fff;
  text-decoration: none;
  background: -webkit-linear-gradient(45deg, #fc0075 0%, #038af1 100%);
  background: linear-gradient(45deg, #fc0075 0%, #038af1 100%);
  border-radius: 20px;
  -webkit-transition: all .8s;
  transition: all .8s;
  display: block;
  padding: 8px 30px;
  margin: 20px 20px 20px 0;
}

header .container .header-right a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.top {
  background-image: url("../img/haikei.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  text-align: center;
  color: #fff;
  padding-top: 250px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .top {
    height: 600px;
    padding-top: 180px;
  }
}

.top h2 {
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: bold;
}

@media (max-width: 670px) {
  .top h2 {
    font-size: 14px;
    letter-spacing: 0;
  }
}

.top h2 .kasen {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(0%, #fc0075));
  background: -webkit-linear-gradient(transparent 75%, #fc0075 0%);
  background: linear-gradient(transparent 75%, #fc0075 0%);
}

.top h1 {
  font-size: 28px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-top: 10px;
}

.top .features {
  margin: 50px 30px 50px 30px;
}

.top .features .icon {
  padding: 0;
  font-size: 0.8rem;
}

@media (min-width: 670px) {
  .top .features .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
  }
}

.top .features .icon .far {
  font-size: 3rem;
  margin-right: 10px;
}

@media (max-width: 670px) {
  .top .features .icon .far {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}

.top .fas {
  font-size: 2rem;
  margin-top: 50px;
}

.B-wrapper {
  background-image: url("../img/haikei2.jpg");
  height: 350px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.B-wrapper .fukidashi {
  display: inline-block;
  margin: 40px 0 20px 10%;
  background-color: #038af1;
  padding: 25px 30px;
  color: #fff;
  font-size: 0.8rem;
  position: relative;
}

.B-wrapper .fukidashi::before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: 85px;
  border-top: 15px solid #038af1;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.B-wrapper .content {
  margin-left: 10%;
  padding: 10px 0;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 3px;
  line-height: 250%;
}

.B-wrapper .content .ao-kasen {
  font-size: 1.2rem;
  border-bottom: 3px solid #038af1;
}

.C-wrapper {
  margin: 0 auto;
  padding-bottom: 50px;
}

.C-wrapper .maru {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  background-color: #fff;
}

.C-wrapper .maru .fas {
  font-size: 35px;
  position: relative;
  top: 20px;
  color: #fc0075;
}

.C-wrapper .maru p {
  margin: 20px auto;
  font-weight: bold;
  width: 100px;
  line-height: 40px;
  border-bottom: 1px solid #000;
}

.C-wrapper h3 {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.C-wrapper h2 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: bold;
}

.C-wrapper h2 .grade {
  font-size: 2rem;
  background: -webkit-gradient(linear, right top, left top, from(#fc0075), to(#038af1));
  background: -webkit-linear-gradient(right, #fc0075 0%, #038af1 100%);
  background: linear-gradient(270deg, #fc0075 0%, #038af1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.C-wrapper .reason-wrapper {
  margin: 20px auto;
}

@media (min-width: 670px) {
  .C-wrapper .reason-wrapper {
    width: 90%;
    margin: 30px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.C-wrapper .reason-wrapper .reason-content {
  width: 100%;
  margin: 0 10px;
}

@media (max-width: 670px) {
  .C-wrapper .reason-wrapper .reason-content {
    padding: 10px 50px;
  }
}

.C-wrapper .reason-wrapper .reason-content img {
  width: 100%;
}

.C-wrapper .reason-wrapper .reason-content .title {
  color: #fc0075;
  margin: 7px 0;
  font-size: 0.9rem;
  font-weight: bold;
}

@media (max-width: 670px) {
  .C-wrapper .reason-wrapper .reason-content .title {
    text-align: center;
  }
}

.C-wrapper .reason-wrapper .reason-content .bun {
  font-size: 0.8rem;
}

.D-wrapper {
  background-image: url("../img/haikei3.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;
}

.D-wrapper .maru {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  background-color: rgba(244, 222, 180, 0.3);
  z-index: -1;
}

.D-wrapper .check {
  text-align: center;
  margin-top: -90px;
}

.D-wrapper .check .far {
  color: #038af1;
  font-size: 2rem;
}

.D-wrapper .check .midashi {
  font-weight: bold;
  padding: 10px 0;
}

.D-wrapper h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.D-wrapper .skill-content {
  text-align: center;
  margin-top: 20px;
  font-size: .8rem;
  letter-spacing: 5px;
}

@media (max-width: 670px) {
  .D-wrapper .skill-content {
    letter-spacing: 1px;
  }
}

.D-wrapper .skill-content p {
  margin-top: 10px;
}

.D-wrapper .skill {
  width: 610px;
  margin: 30px auto;
  padding: 15px 30px;
  border: 2px solid #038af1;
  font-weight: bold;
  border-radius: 5px;
  line-height: 200%;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 670px) {
  .D-wrapper .skill {
    width: 90%;
  }
}

.D-wrapper .skill-foot {
  font-size: 0.8rem;
  text-align: center;
}

.E-wrapper {
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/naiyou.jpg");
  background-position: bottom;
  background-size: cover;
  padding-bottom: 80px;
}

.E-wrapper .E-wrapper-top {
  text-align: center;
  margin: 30px 0 20px 0;
}

.E-wrapper .E-wrapper-top h2 {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.E-wrapper .E-wrapper-top h2 .fas {
  margin-right: 5px;
}

.E-wrapper .E-wrapper-top p {
  font-size: 0.8rem;
}

.E-wrapper table {
  width: 70%;
  border-collapse: separate;
  margin: 15px auto;
  border-spacing: 4px;
  font-size: 0.8rem;
}

.E-wrapper table tbody {
  display: table-row-group;
  vertical-align: middle;
}

.E-wrapper table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.E-wrapper table tbody tr th {
  border: 1px solid #038af1;
  padding: 5px 0;
  background-color: #d4e5ff;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.E-wrapper table tbody tr th .sub {
  font-size: 0.7rem;
}

.E-wrapper table tbody tr td {
  border: 1px solid #038af1;
  padding: 5px 0;
  border-radius: 5px;
  vertical-align: middle;
}

.E-wrapper table tbody tr .meyasu {
  background-color: rgba(240, 205, 241, 0.5);
}

.E-wrapper .E-wrapper-skill {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.E-wrapper .E-wrapper-conditions {
  font-size: 0.7rem;
}

.E-wrapper .E-wrapper-conditions a {
  color: #551a8b;
}

.E-wrapper .E-wrapper-text {
  font-size: 0.7rem;
  margin-bottom: 50px;
}

.E-wrapper .request {
  margin: 0 auto;
}

.E-wrapper .request .arrow {
  background: -webkit-linear-gradient(45deg, #fc0075 0%, #038af1 100%);
  background: linear-gradient(45deg, #fc0075 0%, #038af1 100%);
  color: #fff;
  padding: 20px 80px;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  display: inline-block;
  position: relative;
}

@media (max-width: 670px) {
  .E-wrapper .request .arrow {
    width: 300px;
    padding: 15px 30px;
    font-size: 0.8rem;
  }
}

.E-wrapper .request .arrow:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.E-wrapper .request .arrow::after {
  content: "";
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  position: absolute;
  top: 50%;
  right: 10%;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

@media (max-width: 670px) {
  .E-wrapper .request .arrow::after {
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    width: 8px;
    height: 8px;
  }
}

.F-wrapper {
  margin: 0 auto;
  background-color: #038af1;
  padding-bottom: 80px;
}

.F-wrapper .maru {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  color: #fff;
  background-color: #038af1;
}

.F-wrapper .maru .fas {
  font-size: 35px;
  position: relative;
  top: 20px;
}

.F-wrapper .maru p {
  margin: 20px auto;
  font-weight: bold;
  width: 100px;
  line-height: 40px;
  border-bottom: 1px solid #fff;
}

.F-wrapper h2 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 20px;
}

.F-wrapper .process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  width: 90%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .F-wrapper .process {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

@media (max-width: 670px) {
  .F-wrapper .process {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.F-wrapper .process .process-content {
  width: 25%;
  margin: 0 25px 0 25px;
}

@media (max-width: 1000px) {
  .F-wrapper .process .process-content {
    width: 45%;
    margin: 10px auto;
  }
}

@media (max-width: 670px) {
  .F-wrapper .process .process-content {
    width: 90%;
  }
}

.F-wrapper .process .process-content img {
  width: 100%;
  border-radius: 5px;
}

.F-wrapper .process .process-content .process-text {
  color: #fff;
}

.F-wrapper .process .process-content .process-text h3 {
  padding: 20px 0;
  font-weight: bold;
}

@media (max-width: 670px) {
  .F-wrapper .process .process-content .process-text h3 {
    text-align: center;
  }
}

.F-wrapper .process .process-content .process-text p {
  font-size: 0.8rem;
}

.G-wrapper {
  padding-bottom: 80px;
  margin: 0 auto;
}

.G-wrapper .maru {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  background-color: #fff;
}

.G-wrapper .maru .fas {
  font-size: 35px;
  position: relative;
  top: 20px;
  color: #fc0075;
}

.G-wrapper .maru p {
  margin: 20px auto;
  font-weight: bold;
  width: 100px;
  line-height: 40px;
  border-bottom: 1px solid #000;
}

.G-wrapper h2 {
  font-size: 1.1rem;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 200%;
  text-align: center;
}

.G-wrapper .technique-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 20px auto 40px auto;
  width: 90%;
}

@media (max-width: 670px) {
  .G-wrapper .technique-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.G-wrapper .technique-content img {
  width: 50%;
}

@media (max-width: 670px) {
  .G-wrapper .technique-content img {
    width: 100%;
  }
}

.G-wrapper .technique-content .technique-text {
  background-color: #fc0075;
  color: #fff;
  padding: 7%;
  position: relative;
}

@media (max-width: 1000px) {
  .G-wrapper .technique-content .technique-text {
    padding: 5%;
  }
}

.G-wrapper .technique-content .technique-text h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .G-wrapper .technique-content .technique-text h3 {
    font-size: 0.9rem;
  }
}

.G-wrapper .technique-content .technique-text p {
  margin-top: 20px;
  line-height: 200%;
  font-size: 0.8rem;
}

@media (max-width: 10000px) {
  .G-wrapper .technique-content .technique-text p {
    line-height: 130%;
  }
}

.G-wrapper .technique-content .technique-text::before {
  position: absolute;
  content: '';
  border-top: 30px solid #fc0075;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: 60%;
  left: -5%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (max-width: 670px) {
  .G-wrapper .technique-content .technique-text::before {
    top: -20%;
    left: 20%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.G-wrapper .youtube {
  text-align: center;
  padding-bottom: 40px;
}

.G-wrapper .youtube iframe {
  width: 560px;
  height: 315px;
}

@media (max-width: 670px) {
  .G-wrapper .youtube iframe {
    width: 420px;
    height: 236px;
  }
}

.G-wrapper .text-buy {
  text-align: center;
}

.G-wrapper .text-buy a {
  display: inline-block;
  background: -webkit-linear-gradient(45deg, #f2613a 0%, #f4a713 100%);
  background: linear-gradient(45deg, #f2613a 0%, #f4a713 100%);
  color: #fff;
  padding: 20px 70px;
  border-radius: 50px;
  position: relative;
  text-decoration: none;
}

.G-wrapper .text-buy a::after {
  content: "";
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  position: absolute;
  top: 50%;
  right: 10%;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
}

.H-wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 80px 80px;
  background-image: url("../img/mensetu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.H-wrapper h2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.H-wrapper h2 .kasen {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, transparent), color-stop(0%, #fc0075));
  background: -webkit-linear-gradient(transparent 75%, #fc0075 0%);
  background: linear-gradient(transparent 75%, #fc0075 0%);
}

.H-wrapper p {
  font-size: 0.8rem;
  line-height: 200%;
}

.I-wrapper {
  margin: 0 auto;
  padding-bottom: 40px;
}

.I-wrapper .maru {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  background-color: #fff;
}

.I-wrapper .maru .far {
  font-size: 35px;
  position: relative;
  top: 20px;
  color: #fc0075;
}

.I-wrapper .maru p {
  margin: 20px auto;
  font-weight: bold;
  width: 100px;
  line-height: 40px;
  border-bottom: 1px solid #000;
}

.I-wrapper h2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 10px;
}

.I-wrapper .voices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 90%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto 50px auto;
}

@media (max-width: 670px) {
  .I-wrapper .voices {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.I-wrapper .voices .voice-a {
  width: 45%;
  background-image: url("../img/haikei3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 70px;
  padding-bottom: 30px;
  border: 1px solid #fc0075;
  margin-right: 20px;
}

@media (max-width: 670px) {
  .I-wrapper .voices .voice-a {
    width: 100%;
  }
}

.I-wrapper .voices .voice-a img {
  position: absolute;
  width: 110px;
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.I-wrapper .voices .voice-a h3 {
  text-align: center;
}

.I-wrapper .voices .voice-a h3 span {
  font-size: 1.2rem;
  font-weight: bold;
}

.I-wrapper .voices .voice-a .back-pink {
  background-color: #fc0075;
  padding: 20px 0;
  margin: 20px 0;
  color: #fff;
}

.I-wrapper .voices .voice-a p {
  text-align: left;
  font-size: 0.8rem;
  margin: 0 30px;
}

.I-wrapper .voices .voice-b {
  width: 45%;
  background-image: url("../img/haikei3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 70px;
  padding-bottom: 30px;
  border: 1px solid #038af1;
}

@media (max-width: 670px) {
  .I-wrapper .voices .voice-b {
    width: 100%;
    margin-top: 60px;
  }
}

.I-wrapper .voices .voice-b img {
  position: absolute;
  width: 110px;
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.I-wrapper .voices .voice-b h3 {
  text-align: center;
}

.I-wrapper .voices .voice-b h3 span {
  font-size: 1.2rem;
  font-weight: bold;
}

.I-wrapper .voices .voice-b .back-blue {
  background-color: #038af1;
  padding: 20px 0;
  margin: 20px 0;
  color: #fff;
}

.I-wrapper .voices .voice-b p {
  text-align: left;
  font-size: 0.8rem;
  margin: 0 30px;
}

.J-wrapper {
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #e6e6e6;
}

.J-wrapper .maru {
  margin: 0 auto;
  text-align: center;
  height: 80px;
  width: 90px;
  border-radius: 50%;
  position: relative;
  top: -30px;
  background-color: #e6e6e6;
}

.J-wrapper .maru .far {
  font-size: 35px;
  position: relative;
  top: 20px;
  color: #038af1;
}

.J-wrapper .maru p {
  margin: 20px auto;
  font-weight: bold;
  width: 100px;
  line-height: 40px;
  border-bottom: 1px solid #000;
}

.J-wrapper h2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 40px;
}

.J-wrapper .questions {
  width: 80%;
  margin: 0 auto;
}

.J-wrapper .questions .question {
  margin: 25px 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.J-wrapper .questions .question span {
  color: #fc0075;
}

.J-wrapper .questions .answer {
  background-color: #fff;
  font-size: 0.9rem;
  padding: 20px;
  position: relative;
}

.J-wrapper .questions .answer::before {
  position: absolute;
  content: "";
  border-top: 20px solid white;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  top: -1%;
  left: 5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.J-wrapper .questions .answer a {
  color: #fc0075;
  text-decoration: underline;
}

.K-wrapper {
  background-image: url("../img/juken.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 60px 0;
}

.K-wrapper h2, .K-wrapper p {
  color: #fff;
  text-align: center;
}

.K-wrapper h2 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 5px;
  padding-bottom: 30px;
}

.K-wrapper p {
  font-size: 0.8rem;
  line-height: 200%;
}

.K-wrapper .jukenryou {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 0 auto;
  width: 90%;
}

@media (max-width: 1000px) {
  .K-wrapper .jukenryou {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    max-width: 400px;
    margin: 30px auto 0 auto;
  }
}

.K-wrapper .jukenryou__first, .K-wrapper .jukenryou__second, .K-wrapper .jukenryou__third {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  width: 30%;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px;
}

@media (max-width: 1000px) {
  .K-wrapper .jukenryou__first, .K-wrapper .jukenryou__second, .K-wrapper .jukenryou__third {
    width: 100%;
    margin: 0 0 30px 0;
  }
}

.K-wrapper .jukenryou__first h3, .K-wrapper .jukenryou__second h3, .K-wrapper .jukenryou__third h3 {
  font-size: 1.2rem;
}

.K-wrapper .jukenryou__first .price, .K-wrapper .jukenryou__second .price, .K-wrapper .jukenryou__third .price {
  appearance: menulist-button;
  -moz-appearance: menulist-button;
  -webkit-appearance: menulist-button;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 0.9rem;
  padding-left: 3px;
  display: block;
  margin: 0 auto 10px auto;
}

.K-wrapper .jukenryou__first .price button, .K-wrapper .jukenryou__second .price button, .K-wrapper .jukenryou__third .price button {
  display: block;
}

footer {
  text-align: center;
  padding-top: 40px;
}

footer img {
  width: 200px;
}

footer p {
  vertical-align: text-bottom;
}

footer a {
  font-size: 0.7rem;
}

footer a:hover {
  text-decoration: none;
  color: inherit;
}

footer .footer__link {
  margin-bottom: 40px;
}

footer .copy {
  background-color: #000;
  color: #fff;
  font-size: 0.7rem;
  padding: 20px;
}
/*# sourceMappingURL=styles.css.map */
